*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo-header: #2b2b2b;
    --fundo-nav: #494949;
    --cor-body: #f2f2f2;
    --text: #c4c4c4;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c4c4c4;
    color: #f2f2f2;
    width: 100%;
    height: 100vh;
}

header{
    background-color: var(--fundo-nav);
    padding: 20px;
    display: flex;
    width: 100%;
}

header .toggle{
    width: 200px;
}

header .toggle{
    cursor: pointer;
}

nav{
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-header);
    overflow-y: auto;
    padding: 0 20px;
    opacity: 1;
    transition: all 0.3s ease-in-out; 
}

.nav-toggle{
    max-width: 0px !important;
    padding: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    transition: all 0.3s ease-in-out !important;
}


nav ul li{
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    color: var(--text);
    padding: 10px;
    display: block;
    font-size: .9em;
}

nav ul li a i {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    /*background-color: #3a3a3a;*/
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

main {
    display: flex;
    width: 100%;
    height: calc(100% - 93px);
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    color: var(--text);
    background-color: var(--cor-body);
    overflow-y: auto;
}

footer {
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
    background-color: var(--fundo-nav);
    padding: 10px;
    text-align: center;
    color: var(--text);
    font-size: .8em;
}

section::-webkit-scrollbar-track {
    background-color: var(--cor-body)  ;
}

section::-webkit-scrollbar-thumb {
    background-color: var(--text);
    border-radius: 10px;
}

section::-webkit-scrollbar {
    width: 10px;
}

section .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    margin: .5em 0;
    border-radius: 10px;
    background-color: white;
}

section .content .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;

}

.card-financeiro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 250px;
    min-height: 50px;
    padding: .5em;
    margin: .5em;
    border-radius: 10px;
}

.card-financeiro .card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 .5em;
}
.card-financeiro .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: start;
}
.card-financeiro .card-body h2{
    text-align: center;
    position: relative;
}
.card .sifrao-moeda{
    font-size: .6em;
    text-align: center;
    position: relative;
    top: -5px;
}
.card-financeiro .card-body p{
    font-size: .8em;
}

.card-movimentacao{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    padding: .5em;
    margin: .5em;
    border-radius: 10px;
}

.card-movimentacao .card-title{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.card-movimentacao .card-title .title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-movimentacao .card-title .title h2{
    padding: 0 .5em;
}

.card-movimentacao .card-title .sub-title{
    text-align: center;
}

.card-movimentacao .card-body{
    display: flex;
    flex-direction: column;
}

.card-movimentacao .card-body .tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50px;
    flex: 1; /* Permite que a tabela ocupe o espaço disponível */
}

.card-movimentacao .card-body .tabela .cabecalho{
    background-color: rgba(255, 255, 255, .5); /* Cor de fundo do cabeçalho */
    color: #000000;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 0 0 auto; /* Impede que o cabeçalho encolha ou cresça */
}

.card-movimentacao .card-body .tabela .corpo{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1; /* Faz o corpo ocupar o restante do espaço disponível */
    overflow-y: auto; /* Adiciona rolagem caso o conteúdo exceda o espaço */
}

.card-movimentacao .card-body .tabela .cabecalho .linha{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
}

.card-movimentacao .card-body .tabela .corpo .linha{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid #ccc; /* Adiciona uma linha de separação entre as linhas */
    padding: .5em 0;
}

.card-movimentacao .card-body .tabela .corpo .linha:last-child{
    border-bottom: none; /* Remove a linha de separação da última linha */
}

.card-movimentacao .card-body .tabela .corpo .linha .row,
.card-movimentacao .card-body .tabela .cabecalho .linha .col{
    width: 100%;
    padding: 0 .5em;
}

.card-movimentacao .card-body .tabela .cabecalho .linha .col{
    font-weight: bold;
}
.card-movimentacao .card-body .tabela .corpo .linha .row{
    font-size: .8em;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    margin: 0 .5em ;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-table{
    display: inline-block;
    padding: 5px ;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    cursor: pointer;
}

.table-responsive{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    padding: 1em 0;
}
.table{
    width: 100%;
    border-collapse: collapse;

}
.table-striped{
    width: 100%;
}
.table-bordered{
    border: 1px solid #ddd;
}
table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #494949;
}
table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
table th:nth-child(4){ /* MEXE APENAS NA LINHA DO PAGO */
    width: 4%;
    text-align: center;
}
table tr td:nth-child(4){ /* MEXE APENAS NA LINHA DO PAGO */
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr:hover {
    background-color: #f1f1f1;
}
table td {
    color: #494949;
    font-size: .8em;
}
table td:last-child {
    width: 20%;
    padding: 0;
    text-align: center;
}
.table-responsive .table-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
}
.table-responsive .table-footer .table-footer-td{
    display: inline-block;
    width: 30%;
    text-align: center;
}

.container-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}
.modal .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.modal .modal-body{
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}
.modal .modal-body form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.modal .modal-body form label{
    display: inline-block;
    color: #656565;
    padding-bottom: 5px;
}
.modal .modal-body form input,
.modal .modal-body form select{
    font-family: monospace,sans-serif;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
}
.modal .modal-header h2{
    margin: 0;
    font-size: 1.5em;
}
.modal .modal-footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.modal .mb-3{
    margin-bottom: 15px;
}
.modal .col{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.modal .form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
.is-active{
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
}

.form-check{
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    padding: 10px 0;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 11px;
    left: 2px;
    bottom: 3.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider::before {
    transform: translateX(25px);
  }
  
@media screen and (max-width: 400px) {

    section .content .header {
        flex-direction: column;
        align-items: flex-start;
    }

    section .content .header p{
        font-size: .7em;
    }

    .card-financeiro,
    .card-movimentacao {
        width: 100%;
        max-width: 100%;
    }

    .btn{
        width: 100%;
    }
    
    .modal .modal-footer{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .modal-header{
        flex-direction: column-reverse;
        align-items: center;

    }

    .modal .modal-header h2{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .modal-header .btn-fechar{
        display: flex;
        width: 100%;
    }

    .modal-header .btn-fechar button{
        text-align: end;
    }
}

@media screen and (max-width: 768px) {

    header .toggle {
        width: 20%;
    }

    nav{
        padding: 0 10px;
        align-items: center;
    }

    nav ul li a {
        text-align: center;
    }

    nav ul li a i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.bg-danger {
    background-color: #ff0c00 !important;
    color: #fafafa !important;
}
.bg-success {
    background-color: #4ba914 !important;
    color: #fafafa !important;
}
.bg-warning {
    background-color: #ffff4d !important;
    color: #000000 !important;
}
.bg-info {
    background-color: #008cd3 !important;
    color: #fafafa !important; 
}
.bg-primary {
    background-color: #4d4dff !important;
    color: #fafafa !important;
}
.bg-secondary {
    background-color: #bfbfbf !important;
    color: #000000 !important;
}
.bg-dark {
    background-color: #2b2b2b !important;
    color: #fafafa !important;
}
.bg-white {
    background-color: #ffffff !important;
    color: #000000 !important;
}
.bg-transparent-lite {
    background-color: transparent !important;
    color: #fafafa !important;
}

.bg-transparent-dark {
    background-color: transparent !important;
    color: #000000 !important;
}

.justify-content-center {
    justify-content: center !important;
}
.justify-content-start {
    justify-content: start !important;
}
.bg-title-danger{
    background-color: #ff0c00 !important;
    color: #fafafa !important;
}